---
import "primevue/resources/themes/lara-light-indigo/theme.css";

// import PrimeButton from "primevue/button";
import Teste from "../components/Teste.vue";
import MussumIpsum from "../components/MussumIpsum.vue";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- <PrimeButton client:only="vue">teste</PrimeButton> -->
		<section>
			<h1>Astro</h1>
			<p>
				Testando a diretiva <code>client:visible</code>
			</p>
			<p>Observe a aba network no dev tools</p>
		</section>
		<hr>
		<MussumIpsum />
		<hr>
		<section>
			<h1>Astro</h1>
			<p>
				Testando a diretiva <code>client:visible</code>
			</p>
			<p>Observe a aba network no dev tools</p>
		</section>
		<Teste client:visible>teste 123 teste</Teste>
	</body>
</html>
